body {
    padding-top: 56px; /* Placeholder for navbar height */
}

#hero {
    background-color: #f8f9fa; /* Light gray background */
}
 /* Limit the width of contact elements */
#contact {
    max-width: 720px;
}
/* Limit the width of form and table */
.max-width-limit {
    width: 100%;
    max-width: 720px;
    margin: auto;
  }