body {
    padding-top: 56px; /* Placeholder for navbar height */
}

#hero {
    background-color: #f8f9fa; /* Light gray background */
}
#contact {
    max-width: 800px; /* Limit width for better layout */
    margin: auto; /* Center the contact section */
}
/* Limit the width of form */
.max-width-limit {
    width: 100%;
    max-width: 720px;
    margin: auto;
  }