/* Roboto and Serif Google fonts import for better accessibility */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');

body {
    padding-top: 56px; /* Placeholder for navbar height */
    font-family: 'Roboto Serif', serif;
}

#hero {
    background-color: #f8f9fa; /* Light gray background */
}
 /* Limit the width of contact elements and hero message */
#contact, #hero-message {
    max-width: 720px;
}
/* Limit the width of form and table */
.max-width-limit {
    width: 100%;
    max-width: 720px;
    margin: auto;
  }